html,
.body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
.body
{
  overflow-x: hidden;
  background: url('../images/bg.jpg') repeat top left;
}

h1
{
  font-size: 20px;
  font-weight: normal;
  color: #2e6e80;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: -4px;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon
{
  z-index: 1;
  width: 30000px;
}

.middle
{
  z-index: 500;
  width: 30000px;
}

.front
{
  z-index: 1000;
  width: 30000px;
}

#firstpage {
    float: left;
    display: inline;
    position: absolute;
    left: 40px;
    top: -1700px;
}


#image2 {
    float: left;
    display: inline;
    position: absolute;
    left: 20px;
    top: -750px;
}

#image3 {
    float: left;
    display: inline;
    position: absolute;
    left: 885px;
    top: -750px;
}

#image4 {
    float: left;
    display: inline;
    position: absolute;
    left: 1750px;
    top: -750px;
}

#image5 {
    float: left;
    display: inline;
    position: absolute;
    left: 2615px;
    top: -750px;
}

#image6 {
    float: left;
    display: inline;
    position: absolute;
    left: 3480px;
    top: -750px;
}

#image7 {
    float: left;
    display: inline;
    position: absolute;
    left: 4345px;
    top: -750px;
}

#image8 {
    float: left;
    display: inline;
    position: absolute;
    left: 5205px;
    top: -750px;
}

#image9 {
    float: left;
    display: inline;
    position: absolute;
    left: 6065px;
    top: -750px;
}

#image10 {
    float: left;
    display: inline;
    position: absolute;
    left: 6920px;
    top: -750px;
}

#image11 {
    float: left;
    display: inline;
    position: absolute;
    left: 7755px;
    top: -750px;
}

#image12 {
    float: left;
    display: inline;
    position: absolute;
    left: 8620px;
    top: -750px;
}

#image13 {
    float: left;
    display: inline;
    position: absolute;
    left: 9480px;
    top: -750px;
}

#image14 {
    float: left;
    display: inline;
    position: absolute;
    left: 10350px;
    top: -750px;
}

#image15 {
    float: left;
    display: inline;
    position: absolute;
    left: 11210px;
    top: -750px;
}

#image16 {
    float: left;
    display: inline;
    position: absolute;
    left: 12080px;
    top: -750px;
}

#image17 {
    float: left;
    display: inline;
    position: absolute;
    left: 12940px;
    top: -750px;
}

#image18 {
    float: left;
    display: inline;
    position: absolute;
    left: 13780px;
    top: -750px;
}

#image19 {
    float: left;
    display: inline;
    position: absolute;
    left: 14635px;
    top: -750px;
}

#image20 {
    float: left;
    display: inline;
    position: absolute;
    left: 15495px;
    top: -750px;
}

#image21 {
    float: left;
    display: inline;
    position: absolute;
    left: 16365px;
    top: -750px;
}

#image22 {
    float: left;
    display: inline;
    position: absolute;
    left: 17225px;
    top: -750px;
}

#image23 {
    float: left;
    display: inline;
    position: absolute;
    left: 18094px;
    top: -750px;
}

#image24 {
    float: left;
    display: inline;
    position: absolute;
    left: 18950px;
    top: -750px;
}

#image25 {
    float: left;
    display: inline;
    position: absolute;
    left: 19812px;
    top: -750px;
}

#image26 {
    float: left;
    display: inline;
    position: absolute;
    left: 20650px;
    top: -750px;
}

#image27 {
    float: left;
    display: inline;
    position: absolute;
    left: 21510px;
    top: -750px;
}

#image28 {
    float: left;
    display: inline;
    position: absolute;
    left: 22375px;
    top: -750px;
}

#image29 {
    float: left;
    display: inline;
    position: absolute;
    left: 23235px;
    top: -750px;
}

#image30 {
    float: left;
    display: inline;
    position: absolute;
    left: 24100px;
    top: -750px;
}

#image31 {
    float: left;
    display: inline;
    position: absolute;
    left: 24960px;
    top: -750px;
}

#image32 {
    float: left;
    display: inline;
    position: absolute;
    left: 25827px;
    top: -750px;
}

#image33 {
    float: left;
    display: inline;
    position: absolute;
    left: 26685px;
    top: -750px;
}
